body{
    background-color: rgb(252, 138, 9);
    color:blue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: beige;
}

.form {
    /* display: flex; */

    /* justify-content: center; */
    background-color: white;
    margin-top: 100px;
    width: 100px;
}

.joke {
    background-color: rgb(245, 243, 248);
    width: 300px;
}
